---
import HR from "../components/HR.astro";
import Project from "../components/Project.astro";
import Body from "../layouts/Body.astro";
---

<Body
  title="Daniel Pulber • Software Engineer • Web Developer"
  description="Demonstrating proficiency as a seasoned software engineer, Daniel Pulber excels in the dynamic realm of front-end web development. His expertise encompasses a wide spectrum, with a mastery of key technologies including JavaScript, ReactJs, and TypeScript. Daniel's skill set extends beyond conventional boundaries, enabling him to craft compelling user interfaces with a keen focus on interactivity. His capabilities shine in implementing sophisticated features, ranging from seamless data visualization to the seamless integration of real-time updates, showcasing a comprehensive command over cutting-edge web development."
  keywords="Portfolio Website Daniel Pulber"
>
  <header class="h-20 w-full flex items-center justify-end max-w-[90rem]">
    <nav class="flex gap-10 text-md px-16 font-PlusJakartaSansBold">
      <a href="/" class="hover:opacity-70 transition-opacity">Home</a>
      <a href="#projects" class="hover:opacity-70 transition-opacity"
        >Projects</a
      >
      <a href="/about" class="hover:opacity-70 transition-opacity">About</a>
    </nav>
  </header>
  <main class="w-screen max-w-[85rem]">
    <section
      class="flex flex-col gap-14 lg:gap-0 lg:flex-row w-full justify-between lg:h-screen lg:max-h-[35rem]"
    >
      <div
        class="flex flex-col gap-7 pt-10 lg:justify-center lg:gap-16 lg:pl-16"
      >
        <h2
          class="font-PlusJakartaSansExtraBold text-4xl sm:text-5xl lg:text-6xl text-center lg:text-left"
        >
          Hello!
        </h2>
        <h3
          class="font-Raleway text-center lg:text-left text-2xl sm:text-3xl lg:text-[2.4rem] lg:leading-[1.2] whitespace-nowrap"
        >
          I’m Daniel Pulber, <br />
           a software engineer <br />
           specializing in <br />
           Web & UI Development.
        </h3>
      </div>
      <div class="flex self-center pb-16 lg:h-full lg:pr-4">
        <div class="relative lg:h-full">
          <div
            class="drop-shadow-boxes relative rounded-3xl bg-blue-cornflower aspect-[35/23] w-[65vw] max-w-[250px] sm:max-w-[clamp(300px,40vw,330px)] lg:max-w-[350px] ml-[calc(25.1%/2)] lg:right-[clamp(12rem,20vw,16rem)] lg:top-[5.5rem] xl:right-[16rem]"
          >
            <div
              class="drop-shadow-boxes absolute rounded-3xl bg-pink-rubine aspect-[32/19] w-[45.7%] left-[-25%] top-[14%]"
            >
            </div>
            <div
              class="drop-shadow-boxes absolute rounded-3xl bg-blue-slate aspect-[53/29] w-[75.7%] left-[-17%] top-[28%]"
            >
            </div>
          </div>

          <div class="hidden lg:flex">
            <div
              class="drop-shadow-boxes absolute rounded-3xl right-[4rem] top-[25rem] bg-blue-cornflower w-[355px] h-[80px]"
            >
              <div
                class="drop-shadow-boxes absolute rounded-3xl right-[-2.5rem] top-[-1.9rem] bg-pink-rubine w-[100px] h-[85px]"
              >
                <div
                  class="drop-shadow-boxes absolute rounded-3xl right-[1.7rem] top-[-1.5rem] bg-blue-slate w-[130px] h-[70px]"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <HR />
  </main>
</Body>

<!-- <Project
  heading='KB Solar'
  subheading='Inventory Management System'
  summary='Developed a sophisticated inventory management system tailored to enhance the customer experience.'
  view={{ link: '', color: '#8FB3FF' }}
/> -->
