---
import HR from '../components/HR.astro'
import Project from '../components/Project.astro'
import Body from '../layouts/Body.astro'
---

<Body
  title='Daniel Pulber • Software Engineer • Web Developer'
  description="Demonstrating proficiency as a seasoned software engineer, Daniel Pulber excels in the dynamic realm of front-end web development. His expertise encompasses a wide spectrum, with a mastery of key technologies including JavaScript, ReactJs, and TypeScript. Daniel's skill set extends beyond conventional boundaries, enabling him to craft compelling user interfaces with a keen focus on interactivity. His capabilities shine in implementing sophisticated features, ranging from seamless data visualization to the seamless integration of real-time updates, showcasing a comprehensive command over cutting-edge web development."
  keywords='Portfolio Website Daniel Pulber'>
  <header class='group/nav h-20 w-full flex items-center justify-end max-w-[90rem]' data-nav-open='false'>
    <nav
      class='flex flex-col items-center justify-center bg-white h-screen w-screen fixed top-0 left-[100%] group-data-[nav-open=true]/nav:left-[0] z-50 gap-10 text-md px-16 font-PlusJakartaSansBold transition-all duration-300 md:z-auto md:relative md:w-auto md:h-auto md:top-auto md:left-auto md:bg-transparent md:flex-row'>
      <a href='#home' class='transition-opacity hover:opacity-70'>Home</a>
      <a href='#projects' class='transition-opacity hover:opacity-70'> Projects</a>
      <a href='#about' class='transition-opacity hover:opacity-70'>About</a>
    </nav>
    <div
      data-nav-button
      class='flex flex-col absolute z-50 h-[1.5rem] right-8 top-8 justify-between cursor-pointer md:hidden'>
      <div
        class='bg-black w-7 h-[2px] transition-all group-data-[nav-open=true]/nav:-rotate-45 group-data-[nav-open=true]/nav:translate-y-[0.685rem]'>
      </div>
      <div class='bg-black w-7 h-[2px] group-data-[nav-open=true]/nav:opacity-0'></div>
      <div
        class='bg-black w-7 h-[2px] transition-all group-data-[nav-open=true]/nav:rotate-45 group-data-[nav-open=true]/nav:-translate-y-[0.685rem]'>
      </div>
    </div>
    <script>
      // Nav Sliding Menu For Mobile
      const body = document.querySelector('body') as HTMLElement
      const navButton = document.querySelector('[data-nav-button]') as HTMLElement
      const header = document.querySelector('header') as HTMLElement
      const hrefBtns = document.querySelectorAll('nav > a')

      // Nav Btn
      navButton.addEventListener('click', () => {
        const navOpen = header.getAttribute('data-nav-open')
        if (navOpen === 'false') setNavState('open')
        else setNavState('closed')
      })
      window.onresize = () => setNavState('closed')

      // Link Buttons
      hrefBtns.forEach(btn => {
        btn.addEventListener('click', () => setNavState('closed'))
      })

      function setNavState(state: 'open' | 'closed') {
        if (state === 'open') {
          header.setAttribute('data-nav-open', 'true')
          body.style.overflowY = 'hidden'
        } else {
          header.setAttribute('data-nav-open', 'false')
          body.style.overflowY = 'visible'
        }
      }
    </script>
  </header>
  <main id='home' class='w-screen max-w-[85rem] flex flex-col'>
    <section
      class='flex flex-col gap-14 lg:gap-0 lg:flex-row w-full max-w-7xl self-center justify-between lg:h-screen lg:max-h-[35rem]'>
      <div class='flex flex-col gap-7 pt-10 lg:justify-center lg:gap-16 lg:pl-16'>
        <h2 class='text-4xl text-center font-PlusJakartaSansExtraBold sm:text-5xl lg:text-6xl lg:text-left'>Hello!</h2>
        <h3
          class='font-Raleway text-center lg:text-left text-2xl sm:text-3xl lg:text-[2.4rem] lg:leading-[1.2] whitespace-nowrap'>
          I’m Daniel Pulber, <br />
           a software engineer <br />
           specializing in <br />
           Web & UI Development.
        </h3>
      </div>
      <div class='flex self-center pb-16 lg:h-full lg:pr-4'>
        <div class='relative lg:h-full'>
          <div
            class='drop-shadow-boxes relative rounded-3xl bg-blue-cornflower aspect-[35/23] w-[65vw] max-w-[250px] sm:max-w-[clamp(300px,40vw,330px)] lg:max-w-[350px] ml-[calc(25.1%/2)] lg:right-[clamp(12rem,20vw,16rem)] lg:top-[5.5rem] xl:right-[16rem]'>
            <div
              class='drop-shadow-boxes absolute rounded-3xl bg-pink-rubine aspect-[32/19] w-[45.7%] left-[-25%] top-[14%]'>
            </div>
            <div class='drop-shadow-boxes absolute rounded-3xl bg-blue-slate aspect-[53/29] w-[75.7%] left-[-17%] top-[28%]'>
            </div>
          </div>

          <div class='hidden lg:flex'>
            <div
              class='drop-shadow-boxes absolute rounded-3xl right-[4rem] top-[25rem] bg-blue-cornflower w-[355px] h-[80px]'>
              <div
                class='drop-shadow-boxes absolute rounded-3xl right-[-2.5rem] top-[-1.9rem] bg-pink-rubine w-[100px] h-[85px]'>
                <div
                  class='drop-shadow-boxes absolute rounded-3xl right-[1.7rem] top-[-1.5rem] bg-blue-slate w-[130px] h-[70px]'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <HR />
    <Project
      heading='KB Solar'
      subheading='Inventory Management System'
      summary='Designed and developed a resilient inventory management system and implemented an efficient, scalable database for optimal data management and application performance.'
      color='#8FB3FF'
      img='/imgs/projects/kb-solar-dashboard.png'
    />
    <HR />
    <Project
      heading='TOS Youth'
      subheading='Website and Merch Store'
      summary='Developed a comprehensive full-stack website with interactive event and merchandise pages, along with a secure portal for managing merchandise, events, and orders.'
      color='#D41D6C'
      img='/imgs/projects/tos-youth-home-page.png'
      link='https://www.tos-youth.com'
    />
    <HR />
    <Project
      heading='Scroll SVG'
      subheading='NPM Package'
      summary='Developed a JavaScript/Typescript NPM package for effortless SVG animation on scroll, enabling users to customize scroll animations with a single line of code.'
      color='#8FB3FF'
      img='/imgs/projects/scroll-svg-npm.png'
      link='https://www.npmjs.com/package/scroll-svg?activeTab=readme'
    />
    <HR />
    <footer id='about' class='flex py-9 pl-8 md:py-12 font-PlusJakartaSansExtraBold'>
      <div class='mr-4 ml-3 mt-[8px] w-4 h-4 md:w-5 md:h-5 md:mt-[9px] md:mr-5 rounded shrink-0 bg-blue-cornflower'></div>
      <div class='flex flex-col gap-4 md:gap-6'>
        <h2 class='text-2xl md:text-3xl'>Contact</h2>
        <div class='flex flex-wrap gap-4 pr-14 text-lg md:gap-8 md:text-xl font-PlusJakartaSansBold'>
          <a
            href='mailto:pulberdan@gmail.com'
            title='pulberdan@gmail.com'
            class='transition-opacity hover:opacity-70'
            target='_blank'
            rel='noopener noreferrer'><h4>Email</h4></a
          >
          <a
            href='https://github.com/DanRDT'
            class='transition-opacity hover:opacity-70'
            target='_blank'
            rel='noopener noreferrer'><h4>Github</h4></a
          >
          <a
            href='https://www.linkedin.com/in/daniel-pulber'
            class='transition-opacity hover:opacity-70'
            target='_blank'
            rel='noopener noreferrer'
            ><h4>LinkedIn</h4>
          </a>
          <a href='/files/resume.pdf' class='transition-opacity hover:opacity-70' target='_blank' rel='noopener noreferrer'
            ><h4>Resume</h4></a
          >
        </div>
      </div>
    </footer>
  </main>
</Body>
