---
import Body from '../layouts/Body.astro'
---

<Body
  title='Daniel Pulber • Software Engineer • Web Developer'
  description="Demonstrating proficiency as a seasoned software engineer, Daniel Pulber excels in the dynamic realm of front-end web development. His expertise encompasses a wide spectrum, with a mastery of key technologies including JavaScript, ReactJs, and TypeScript. Daniel's skill set extends beyond conventional boundaries, enabling him to craft compelling user interfaces with a keen focus on interactivity. His capabilities shine in implementing sophisticated features, ranging from seamless data visualization to the seamless integration of real-time updates, showcasing a comprehensive command over cutting-edge web development."
  keywords='Portfolio Website Daniel Pulber'>
  <main></main>
</Body>
