---
import HR from '../components/HR.astro'
import Project from '../components/Project.astro'
import Body from '../layouts/Body.astro'
---

<Body
  title='Daniel Pulber • Software Engineer • Web Developer'
  description="Demonstrating proficiency as a seasoned software engineer, Daniel Pulber excels in the dynamic realm of front-end web development. His expertise encompasses a wide spectrum, with a mastery of key technologies including JavaScript, ReactJs, and TypeScript. Daniel's skill set extends beyond conventional boundaries, enabling him to craft compelling user interfaces with a keen focus on interactivity. His capabilities shine in implementing sophisticated features, ranging from seamless data visualization to the seamless integration of real-time updates, showcasing a comprehensive command over cutting-edge web development."
  keywords='Portfolio Website Daniel Pulber'>
  <header class='h-20 w-full flex items-center justify-end max-w-[90rem]'>
    <nav class='flex gap-10 text-md px-16 font-PlusJakartaSansBold'>
      <a href='/'>Home</a>
      <a href='#projects'>Projects</a>
      <a href='/about'>About</a>
    </nav>
  </header>
  <main class='w-screen max-w-[85rem]'>
    <section class='flex w-full justify-between h-screen max-h-[35rem]'>
      <div class='flex flex-col gap-16 justify-center pl-16'>
        <h2 class='font-PlusJakartaSansExtraBold text-6xl'>Hello!</h2>
        <h3 class='font-Raleway text-[2.4rem] leading-[1.2] whitespace-nowrap'>
          I’m Daniel Pulber, <br />
           a software engineer <br />
           specializing in <br />
           Web & UI Development.
        </h3>
      </div>
      <div class='flex h-full flex-col pr-4'>
        <div class='relative h-full'>
          <div
            class='drop-shadow-boxes absolute rounded-3xl right-[14rem] top-[5rem] bg-blue-cornflower w-[350px] h-[230px]'>
            <div class='drop-shadow-boxes absolute rounded-3xl left-[-6rem] top-[2rem] bg-pink-rubine w-[161px] h-[96px]'>
              <div class='drop-shadow-boxes absolute rounded-3xl left-[1.7rem] top-[2rem] bg-blue-slate w-[266px] h-[145px]'>
              </div>
            </div>
          </div>
          <div class='drop-shadow-boxes absolute rounded-3xl right-[4rem] top-[25rem] bg-blue-cornflower w-[355px] h-[80px]'>
            <div
              class='drop-shadow-boxes absolute rounded-3xl right-[-2.5rem] top-[-1.9rem] bg-pink-rubine w-[100px] h-[85px]'>
              <div
                class='drop-shadow-boxes absolute rounded-3xl right-[1.7rem] top-[-1.5rem] bg-blue-slate w-[130px] h-[70px]'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <HR />
  </main>
</Body>

<!-- <Project
  heading='KB Solar'
  subheading='Inventory Management System'
  summary='Developed a sophisticated inventory management system tailored to enhance the customer experience.'
  view={{ link: '', color: '#8FB3FF' }}
/> -->
