---
import '../styles/base.css'

export interface Props {
  title: string
  description?: string
  keywords?: string
}

const { title, description, keywords } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{title}</title>
    <meta name='keywords' content={keywords} />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' media='(prefers-color-scheme: light)' href='/imgs/favicon-light.png' type='image/png' />
    <link rel='icon' media='(prefers-color-scheme: dark)' href='/imgs/favicon-dark.png' type='image/png' />
    <meta name='generator' content={Astro.generator} />
  </head>

  <body class='flex flex-col items-center'>
    <slot />
  </body>
</html>
